body {
    background-color: white;
    padding: auto;
    margin:auto;
}

div {
    background-color: black;
    margin: auto;
    width: auto;
    align-items: center;
    
}

a {
    color: azure;
    font-size: x-large;
    padding: 50px;
    margin: 20px;
}

.my-link {
    font-size: xx-large;
}

img {
    border-radius: 15px;
   
}

#first {
    height:30px; 
    border-radius: 8px;
    color:white;
    text-align: center;
}
table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
}
.container-fluid{
    display: grid;
    place-items: center;
    height: 100vh;
}
.logo{
    max-width: auto;
    max-height: auto;
}

/* .body{
    background-repeat: no-repeat;
    background-image: cover;
} */

.image-container {
    /* margin: 10px;
    max-height: 150px; */
    padding: 35px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(21, 6, 6);
}

.text-item {
    /* background-color: rgb(246, 243, 243); */
    max-width: 100%;
    color: black;
}

.image-item img {
    border-radius: 8px; 
}
/* .div-img{
    float: left;
} */
.table-mine  tr, td{
    border: 1px solid rgb(4, 4, 4);
    border-collapse: collapse;
    background-color: rgb(249, 215, 209)
}

#btn {
    background-color: burlywood;
    border-radius: 8px;
    border: 2px solid black;
    width: 200px;
    height: 50px;
}
.div-image-container-fine{
    width: 100;
}
div.pink{
    float: right;
    /* height: 100px; */
    /* width: 10px; */
    background-color: black;
}