body {
    background-color: white;
    padding: auto;
    margin:auto;
}

div.peace{
    background-color: black;
    margin: auto;
    width: auto;
    align-items: center;
    
}

a {
    margin: 10px;
}


img {
    border-radius: 15px;
   
}

#first {
    height:30px; 
    border-radius: 8px;
    color:white;
    text-align: center;
}
table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
}
.container-fluid{
    display: grid;
    place-items: center;
    height: 100vh;
}
.logo{
    max-width: auto;
    max-height: auto;
}

/* .body{
    background-repeat: no-repeat;
    background-image: cover;
} */

.image-container {
    /* margin: 10px;
    max-height: 150px; */
    padding: 35px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(21, 6, 6);
}

.text-item {
    /* background-color: rgb(246, 243, 243); */
    max-width: 100%;
    color: black;
}

.image-item img {
    border-radius: 8px; 
}
/* .div-img{
    float: left;
} */
.table-mine  tr, td{
    border: 1px solid rgb(4, 4, 4);
    border-collapse: collapse;
    background-color: rgb(249, 215, 209)
}

#btn {
    background-color: burlywood;
    border-radius: 8px;
    border: 2px solid black;
    width: 200px;
    height: 50px;
}
.div-image-container-fine{
    width: 100;
}
div.pink{
    float: right;
    /* height: 100px; */
    /* width: 10px; */
    background-color: black;
    /* border-radius: 10000px; */
}
/* .div-food{ */
    /* background-color: blue; */
/* } */

div.forever{
    background-color: black;
    margin: auto;
    height: 10px;
}

a.my-link{
    margin: 200px;
}

div.burn{
    background-color: white;
}

div.takeaway{
    background-color: black;
}
div.blue{
    text-align: left;
    margin:1px;
}

.search-container{
    display: flex;
    align-items: right;
    background-color:rgb(249, 215, 209);
    border-radius: 25px;
    padding: 5px;
    box-shadow:0px 4px 6px rgb(0,0,0,0.1) ;
}
.search-input{
    border:black;
    outline:red ;
    padding: 10px;
    width: 250px;
    border-radius: 25px 0 0 25px;
}
.search-button{
    background-color: red;
    color: white;
    border: pink;
    padding: 10px 10px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    transition: 0.3s;
}
.search-button:hover{
    background-color: rgb(249, 215, 209);
}
.peak a{
    background-color: yellow;
    font-weight: bold;
}